body {
  background: #0f0f23; /*337 x 5*/
  color: #cccccc;
  font-family: "Source Code Pro", monospace;
  font-size: 14pt;
  min-width: 60em;
}
a { outline:0; }
main, figure, figcaption { display:block; }
pre, code { font-family: "Source Code Pro", monospace; }
header, main {
  -webkit-text-size-adjust: none;
}


article {
  width: 45em;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: 2em;
}
article:first-child {
  margin-top: 0;
}
article h2 {
  color: #ffffff;
  margin-top: 1em;
  margin-bottom: 1em;
  white-space: nowrap;
}


.privboard-day-locked    { color: #333333; }
.privboard-day-unlocked  { color: #99ff99; }
.privboard-star-locked    { visibility: hidden; }
.privboard-star-unlocked  { color: #333333; }
.privboard-star-firstonly { color: #9999cc; }
.privboard-star-both      { color: #ffff66; }
.privboard-delbtn { opacity:.33; }
.privboard-row:hover .privboard-delbtn { opacity:1; }

.leaderboard-score {
  text-align: right;
  padding-right: 10px;
}
