<head>
    <title>AoC Leaderboard</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro:300&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <meta http-equiv="refresh" content="120">
</head>