<div id="about" style="display: none;">
    <div style="flex: 0.9;">
      <p></p>
      <p>Advent of Code is an Advent calendar of small programming puzzles for a variety of skill sets and skill levels that can be solved in any programming language you like.</p>
    </div>
    <div style="flex: 0.1;padding-left: 5px;">
      <p><a href="javascript:void(0)" onclick="show_info('')">[x]</a></p>
    </div>
  </div>
  <div id="scoring" style="display: none;">
    <div style="flex: 0.9;">
      <p><span class="privboard-star-both">Gold</span> indicates the user got both stars for that day, <span class="privboard-star-firstonly">silver</span> means just the first star, and <span class="privboard-star-unlocked">gray</span> means none.
      <p>The numbers to the left are based on the order in which the participants solve the challenges. For <code>N</code> users, the first user to get each star gets <code>N</code> points, the second gets <code>N-1</code>, and the last gets <code>1</code>. If more users are added or removed, the points will be recalculated, and the order can change.</p>
    </div>
    <div style="flex: 0.1;padding-left: 5px;">
      <p><a href="javascript:void(0)" onclick="show_info('')">[x]</a></p>
    </div>
  </div>
  <div id="event" style="display: none;">
    <a href="/">[2021]</a>
    <a href="/2020">[2020]</a>
    <a href="/2019">[2019]</a>
    <a href="/2018">[2018]</a>
  </div>
  <script>
    function show_info(element) {
      document.getElementById("about").style.display = "none";
      document.getElementById("scoring").style.display = "none";
      document.getElementById("event").style.display = "none";
      document.getElementById(element).style.display = "flex";
    }
  </script>