<header>
    <div>
      <h1 class="title-global"><a href="https://adventofcode.com" target="_blank">Advent of Code</a></h1>
      <nav>
        <ul>
          <li><a href="javascript:void(0)" onclick="show_info('about')">[About]</a></li>
          <li><a href="javascript:void(0)" onclick="show_info('event')">[Year]</a></li>
          <li><a href="javascript:void(0)" onclick="show_info('scoring')">[Scoring]</a></li>
        </ul>
      </nav>
    </div>
  </header>